{% extends "base.html" %}
{% block breadcrumb %}
<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="{% url 'index-view' %}"><i class="fa fa-home"></i> Accueil</a></li>
        <li><a href="#">Liste</a></li>
        <li><a href="#">Détail</a></li>
        <li class="active">{{ object.name }}</li>
    </ul>
</div>    
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="d-flex justify-content-between align-items-center" style="padding-top: 20px;">
        Détails de la fiche
        {% include 'components/back_button.html' %}
    </h2>
    <!-- Détails de la fiche -->

    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'user-list' %}">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
            </nav>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="{{ user.photo.url }}" alt="User Photo" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="text-muted mb-1">{{ user.get_user_type_display }}</p>
                <p class="text-muted mb-4">{{ user.address }}</p>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-primary">Follow</button>
                  <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                </div>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fas fa-envelope fa-lg text-primary"></i>
                    <p class="mb-0">{{ user.email }}</p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fas fa-phone fa-lg text-secondary"></i>
                    <p class="mb-0">{{ user.phone }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Birthdate</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user.birthdate|date:"F j, Y" }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Birthplace</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user.birthplace }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Matricule</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user.matricule }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user.address }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Détails des enseignements associés sous forme de deux colonnes -->

    
</div>

{% endblock %}


